body {
    font-family: Arial;
    background-color: lightgray;
}

h1 {
    text-align: center;
}

form {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 20px;
}

input, select {
    padding: 8px;
    margin-top: 5px;
}

span {
    color: red;
    font-size: 14px;
}

button {
    padding: 10px 25px;
}

#message {
    color: green;
}